input {
    &#username {
        font-size: 1.5rem;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        outline: none;
        appearance: none;
        background: inherit;
        color: inherit;
    }
}