{{ define "content" }}
<header>
    <h1 id="clocktime"></h1><h1 id="clockampm"></h1>
</header>

<article>
    <h2><span id="greetingSign"></span>, <input type="text" id="username" placeholder="Enter your name" /></h2>

    <form id="googleSearch" method="get" action="https://www.google.com/search" autocomplete="off">
        <input id="googleSearchBar" type="text" name="q" value="" placeholder="Google Search..." spellcheck="false" autocomplete="off" tabindex="2">
      </form>
</article>

<footer>
    <p id="clockdate"></p>

    <blockquote>
        <p>
            <span id="quote"></span> <cite id="author"></cite>
        </p>
    </blockquote>
</footer>
{{ end }}